/* CSS Custom Properties Definitions */

@import url("https://use.typekit.net/cts7mlw.css");

@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-navy;
  }
  a:hover,
  a:focus {
    text-decoration: none;
  }
}

@tailwind components;
@tailwind utilities;

/* Custom classes */
/*
.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
} */
